# Project 3 - Water Pump Clasificaiton

# Notes

**Things to add to my project - ideas from class**

Anything?

# Setup

In [13]:
from __future__ import print_function

In [14]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from __future__ import division
pd.set_option('display.width',5000)

In [15]:
import patsy

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

# Data Import - Training Data

This data is part of the Data Driven Competition

https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/23/

In [28]:
# 'Values' provided for each pump location - features

df_values = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/Training set values.csv')
df_values.sample(3)

          id  amount_tsh date_recorded                  funder  gps_height installer  longitude      latitude          wpt_name  num_private          ...          payment_type water_quality quality_group      quantity  quantity_group        source   source_type  source_class              waterpoint_type waterpoint_type_group
29100   2773        30.0    2013-05-04                  Lowasa        1533       DWE  36.569454 -3.311880e+00         Lomishila            0          ...            per bucket          soft          good        enough          enough   machine dbh      borehole   groundwater  communal standpipe multiple    communal standpipe
36391  28103        20.0    2013-01-19  Government Of Tanzania        1504       DWE  30.718354 -3.583671e+00  Community Center            0          ...            per bucket          soft          good  insufficient    insufficient         river    river/lake       surface  communal standpipe multiple    communal standpipe
8811    9769         0.0    2012-10-13  Government Of Tanzania           0       DWE   0.000000 -2.000000e-08         Kwamasuke            0          ...               monthly         salty         salty  insufficient    insufficient  shallow well  shallow well   groundwater                    hand pump             hand pump

[3 rows x 40 columns]

In [27]:
# 'Labels' provided for each pump location - clasificaiton - what I am predicting

df_labels = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/Training set labels.csv')
df_labels.sample(3)

          id    status_group
6199   28907  non functional
23053  73626      functional
52133  73805      functional

# Data Import - Challenge Data

In [133]:
# 'Values' provided for each competition pump location - features

df_test_values = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/Test set values.csv')
df_test_values.sample(3)

          id  amount_tsh date_recorded funder  gps_height installer  longitude  latitude          wpt_name  num_private          ...          payment_type water_quality quality_group  quantity  quantity_group        source   source_type  source_class waterpoint_type waterpoint_type_group
868    66920        20.0    2013-01-22   Dmdd        1798      DMDD  35.537130 -3.778552  Kwa Arberto Ingi            0          ...            per bucket          soft          good    enough          enough  shallow well  shallow well   groundwater       hand pump             hand pump
8492   57254         0.0    2011-03-14     Ki         592        Ki  36.931341 -7.300958    Shamba La Miwa            0          ...             never pay          soft          good    enough          enough  shallow well  shallow well   groundwater       hand pump             hand pump
12066  25154         0.0    2011-04-17  Shipo        1719     SHIPO  35.010827 -9.275456   Kwa Eliud Nyato            0          ...            on failure          soft          good    enough          enough      hand dtw      borehole   groundwater       hand pump             hand pump

[3 rows x 40 columns]

In [134]:
# 'Labels' I will provide for each pump location - clasificaiton

df_sub = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/SubmissionFormat.csv')
df_sub.sample(3)

          id     status_group
1046   62035  predicted label
5252   26353  predicted label
13876  54592  predicted label

In [135]:
df_sub = df_sub.drop('status_group', axis = 1)

# Exploratory Data Analysis

## Colum descriptions

My goal is to predict the operating condition of a waterpoint for each record in the dataset. I was provided the following set of information about the waterpoints:

* amount_tsh - Total static head (amount water available to waterpoint)
    * 98 unique
* date_recorded - The date the row was entered
    * 365 unique
    * year - month - day
* funder - Who funded the well
    * 1897 unique
    * look at top ones?
* installer - Organization that installed the well
    * 2145 unique
    * DWE is main one - 10x closest other, 17k
* wpt_name - Name of the waterpoint if there is one
    * 37400 unique
    * look at top ones?
* num_private - (NO PROVIDED DESC)
    * 65 unique
    * USELESS FEATURE
* population - Population around the well
    * 1049 unique
    * a lot are zero
* public_meeting - True/False
    * 2 unique
* recorded_by - Group entering this row of data
    * 1 unique
    * all the same - USELESS FEATURE
* scheme_management - Who operates the waterpoint
    * 12 unique
* scheme_name - Who operates the waterpoint
    * 2696 unique
    * USELESS FEATURE
* permit - If the waterpoint is permitted
    * 2 unique
* construction_year - Year the waterpoint was constructed
    * 55 unique
    * third are 0 - USELESS FEATURE


* Geography
    * gps_height - Altitude of the well
        * numerical
    * longitude - GPS coordinate
        * numerical
    * latitude - GPS coordinate
        * numerical
    * basin - Geographic water basin
        * 9 unique
    * subvillage - Geographic location
        * 19287 unique
    * region - Geographic location
        * 21 unique
    * region_code - Geographic location (coded)
        * 27 unique
    * district_code - Geographic location (coded)
        * 20 unique
    * lga - Geographic location
        * 125 unique
    * ward - Geographic location
        * 2092 unique


* Extraction
    * extraction_type - The kind of extraction the waterpoint uses
        * 18 unique
        * Most descriptive of extraction
    * extraction_type_group - The kind of extraction the waterpoint uses
        * 13 unique
        * Parent of extraction_type
    * extraction_type_class - The kind of extraction the waterpoint uses
        * 7 unique
        * Parent of extraction_type_group


* Overhead
    * management - How the waterpoint is managed
        * 12 unique
    * management_group - How the waterpoint is managed
        * 5 unique
    * payment - What the water costs
        * 7 unique
        * same as payment type
    * payment_type - What the water costs
        * 7 unique
        * same as payment


* Water
    * water_quality - The quality of the water 
        * 3 unique
        * Subset of quality_group
    * quality_group - The quality of the water
        * 6 unique
        * Parent group of water_quality
    * quantity - The quantity of water
        * 5 unique
        * Same as quantity_group
    * quantity_group - The quantity of water
        * 5 unique
        * Same as quantity
    * source - The source of the water
        * 10 unique
    * source_type - The source of the water
        * 7 unique
        * Subset of source
    * source_class - The source of the water
        * 3 unique
        * Subset of source_type
    * waterpoint_type - The kind of waterpoint
        * 6 unique
        * Parent of waterpoint_type_group
    * waterpoint_type_group - The kind of waterpoint
        * 7 unique
        * Subset of waterpoint_type

## Various EDA

##### Status

In [18]:
# 3 Unique status present
df_labels.status_group.value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

##### Review histograms of extraction data

* extraction_type - The kind of extraction the waterpoint uses
* extraction_type_group - The kind of extraction the waterpoint uses
* extraction_type_class - The kind of extraction the waterpoint uses

In [ ]:
df_values.extraction_type.value_counts().plot('barh')
len(df_values.extraction_type.value_counts())

In [ ]:
df_values.extraction_type_group.value_counts().plot('barh')
len(df_values.extraction_type_group.value_counts())

In [ ]:
df_values.extraction_type_class.value_counts().plot('barh')
len(df_values.extraction_type_class.value_counts())

##### Other

In [ ]:
# df_values.population.value_counts()

In [ ]:
len(df_values.ward.value_counts())

In [ ]:
# len(df_values.management.value_counts())

In [ ]:
# print(df_values.region.value_counts())
# print('Length: ',len(df_values.region.value_counts()))

In [ ]:
#print(df_values.region_code.value_counts())
#print('Length: ',len(df_values.region_code.value_counts()))

In [ ]:
# df_values.water_quality.value_counts()

In [ ]:
#df_values.installer.value_counts()

# Test Train Split

In [29]:
# randomize data
# df_lables, df_values - combine and shuffle this data

df = pd.merge(df_labels,df_values,how = 'left')
df = df.sample(frac=1).reset_index(drop=True)

In [56]:
# Split back to X and y and then TTS
y = df[["id","status_group"]]
X = df.drop('status_group', axis=1)

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [39]:
X_train.shape

(11880, 40)

# Decision Tree

## Create DT on test-train-split

In [57]:
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.cm as cm
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [58]:
df.sample(3)

          id             status_group  amount_tsh date_recorded             funder  gps_height installer  longitude  latitude            wpt_name          ...           payment_type water_quality quality_group quantity  quantity_group       source source_type source_class              waterpoint_type waterpoint_type_group
49499  33368           non functional         0.0    2012-11-15  Ministry Of Water        1152    Hesawa  33.901932 -1.494934  Kwa Sostenes Marwa          ...              never pay          soft          good   enough          enough         lake  river/lake      surface           communal standpipe    communal standpipe
34665  12309  functional needs repair       200.0    2011-02-28         World Bank         404     World  37.822106 -6.840695        Shule Kilole          ...                monthly          soft          good   enough          enough        river  river/lake      surface           communal standpipe    communal standpipe
23148  22869           non functional         0.0    2011-03-15              Water           0     Commu  36.547969 -5.755247           Kwa Denis          ...             per bucket         salty         salty      dry             dry  machine dbh    borehole  groundwater  communal standpipe multiple    communal standpipe

[3 rows x 41 columns]

In [88]:
# try with a few less features first 

feature_no_sel = df[['amount_tsh', 'date_recorded', 'funder', 'installer', 
                   'wpt_name', 'num_private', 'subvillage', 'region', 
                   'region_code', 'district_code', 'lga', 'ward', 'public_meeting', 'recorded_by', 
                   'scheme_management', 'scheme_name', 'permit', 'construction_year', 'extraction_type', 
                   'extraction_type_group', 'management', 'management_group', 'payment', 
                   'payment_type', 'water_quality', 'quality_group', 'quantity_group', 'source', 
                   'source_type', 'waterpoint_type','region_code', 
                  'district_code','public_meeting','scheme_management']]

feature_sel = df[['id', 'status_group', 'gps_height', 'longitude', 'latitude', 'basin',
                  'extraction_type_class','payment','quantity','water_quality', 'source_class',
                  'waterpoint_type_group','population','public_meeting','scheme_management']]

In [89]:
feature_sel.sample(3)

          id    status_group  gps_height  longitude   latitude                    basin extraction_type_class  payment  quantity water_quality source_class waterpoint_type_group  population public_meeting scheme_management
3563   40384  non functional           0  32.248871  -3.406509          Lake Tanganyika              handpump  unknown       dry          soft  groundwater             hand pump           0            NaN               WUG
16659  17308      functional         351  39.106719 -10.846917  Ruvuma / Southern Coast               gravity  unknown    enough          soft  groundwater    communal standpipe         209           True               VWC
28414  39065      functional           0  32.551352  -3.650549            Lake Victoria              handpump  unknown  seasonal         milky  groundwater             hand pump           0           True               NaN

In [90]:
# Change what I predict to 1,2,3

for i in range(len(feature_sel.status_group)):
    if feature_sel.status_group[i] == 'functional':
        feature_sel.at[i, 'status_group'] = 3
    elif feature_sel.status_group[i] == 'functional needs repair':
        feature_sel.at[i, 'status_group'] = 2
    else:
        feature_sel.at[i, 'status_group'] = 1

In [91]:
feature_sel=feature_sel.drop('id', axis=1)
feature_sel.sample(3)

      status_group  gps_height  longitude  latitude          basin extraction_type_class         payment  quantity water_quality source_class waterpoint_type_group  population public_meeting scheme_management
3301             3        1588  37.159508 -3.196829        Pangani               gravity  pay per bucket    enough          soft  groundwater    communal standpipe          40           True       Water Board
15859            1           0  32.360869 -2.493183  Lake Victoria              handpump       never pay    enough          soft  groundwater             hand pump           0           True               VWC
36798            1           0  34.221941 -8.713000         Rufiji               gravity     pay monthly  seasonal          soft      surface    communal standpipe           0           True               VWC

In [92]:
# rearange columns
cols = feature_sel.columns.tolist()
cols = ['status_group',
             'gps_height',
             'longitude',
             'latitude',
             'population',
             'basin',
             'extraction_type_class',
             'payment',
             'quantity',
             'water_quality',
             'source_class',
             'waterpoint_type_group',
             'public_meeting',
             'scheme_management']
feature_sel = feature_sel[cols]
feature_sel.sample(3)

      status_group  gps_height  longitude  latitude  population                    basin extraction_type_class         payment quantity water_quality source_class waterpoint_type_group public_meeting scheme_management
19556            3        1635  37.447208 -3.293354          20                  Pangani               gravity  pay per bucket   enough          soft  groundwater    communal standpipe           True       Water Board
57384            1          33  39.164306 -8.539036         254  Ruvuma / Southern Coast                 other       never pay   enough          soft  groundwater                 other           True               NaN
5722             2           0  33.826820 -9.175816           0               Lake Nyasa               gravity       never pay   enough          soft      surface    communal standpipe           True               VWC

In [93]:
#create dummy features for applicabe

feature_sel = pd.get_dummies(feature_sel,columns=list(feature_sel.columns[5:]))
feature_sel.sample(3)

      status_group  gps_height  longitude      latitude  population  basin_Internal  basin_Lake Nyasa  basin_Lake Rukwa  basin_Lake Tanganyika  basin_Lake Victoria                ...                  scheme_management_Other  scheme_management_Parastatal  scheme_management_Private operator  scheme_management_SWC  scheme_management_Trust  scheme_management_VWC  scheme_management_WUA  scheme_management_WUG  scheme_management_Water Board  scheme_management_Water authority
39286            3        1633  34.896821 -1.105004e+01          96               0                 0                 0                      0                    0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0
50219            3           0   0.000000 -2.000000e-08           0               0                 0                 0                      0                    1                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0
15490            2        1423  36.690947 -3.354413e+00         200               0                 0                 0                      0                    0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0

[3 rows x 64 columns]

In [94]:
columns = list(feature_sel.columns)
feature_sel[columns[5:]] = feature_sel[columns[5:]].astype(int)
feature_sel[columns[0]] = feature_sel[columns[0]].astype(int)

In [95]:
y = feature_sel.status_group
X = feature_sel.drop('status_group', axis=1)

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [97]:
decisiontree = DecisionTreeClassifier(random_state=0)
decisiontree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [98]:
decisiontree.score(X_test,y_test)

0.7464646464646465

## DT on competition datsa

In [142]:
df_test_values = df_test_values[['gps_height', 'longitude', 'latitude', 'basin',
                  'extraction_type_class','payment','quantity','water_quality', 'source_class',
                  'waterpoint_type_group','population','public_meeting','scheme_management']]

In [143]:
# rearange columns
cols = df_test_values.columns.tolist()
cols = ['gps_height',
             'longitude',
             'latitude',
             'population',
             'basin',
             'extraction_type_class',
             'payment',
             'quantity',
             'water_quality',
             'source_class',
             'waterpoint_type_group',
             'public_meeting',
             'scheme_management']
df_test_values = df_test_values[cols]

In [144]:
df_test_values = pd.get_dummies(df_test_values,columns=list(df_test_values.columns[4:]))
df_test_values.sample(3)

      gps_height  longitude  latitude  population  basin_Internal  basin_Lake Nyasa  basin_Lake Rukwa  basin_Lake Tanganyika  basin_Lake Victoria  basin_Pangani                ...                  scheme_management_Other  scheme_management_Parastatal  scheme_management_Private operator  scheme_management_SWC  scheme_management_Trust  scheme_management_VWC  scheme_management_WUA  scheme_management_WUG  scheme_management_Water Board  scheme_management_Water authority
5054        1272  35.104521 -8.928630          80               0                 0                 0                      0                    0              0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0
3565          -2  38.778155 -8.003926           1               0                 0                 0                      0                    0              0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0
583          426  37.763270 -5.910705         350               0                 0                 0                      0                    0              0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0

[3 rows x 62 columns]

In [145]:
a = [0] * len(df_test_values['gps_height'])
df_test_values['scheme_management_None'] = a
df_test_values.sample(3)

       gps_height  longitude  latitude  population  basin_Internal  basin_Lake Nyasa  basin_Lake Rukwa  basin_Lake Tanganyika  basin_Lake Victoria  basin_Pangani           ...            scheme_management_Parastatal  scheme_management_Private operator  scheme_management_SWC  scheme_management_Trust  scheme_management_VWC  scheme_management_WUA  scheme_management_WUG  scheme_management_Water Board  scheme_management_Water authority  scheme_management_None
6750            0  32.973154 -4.336478           0               0                 0                 0                      1                    0              0           ...                                       0                                   0                      0                        0                      1                      0                      0                              0                                  0                       0
5276           99  38.971815 -5.124196          80               0                 0                 0                      0                    0              1           ...                                       0                                   0                      0                        0                      1                      0                      0                              0                                  0                       0
13348           0  32.758101 -5.031626           0               0                 0                 0                      1                    0              0           ...                                       0                                   0                      0                        0                      1                      0                      0                              0                                  0                       0

[3 rows x 63 columns]

In [146]:
columns = list(df_test_values.columns)
df_test_values[columns[5:]] = df_test_values[columns[5:]].astype(int)
df_test_values[columns[0]] = df_test_values[columns[0]].astype(int)

## Apply to competition data

In [118]:
df_test_labels = decisiontree.predict(df_test_values)

In [119]:
df_test_labels.shape

(14850,)

In [120]:
df_sub['status_group'] = df_test_labels

In [121]:
df_sub['status_group'] = df_sub['status_group'].astype(str)

for i in range(len(df_sub.status_group)):
    if df_sub.status_group[i] == '3':
        df_sub.at[i, 'status_group'] = 'functional'
    elif df_sub.status_group[i] == '2':
        df_sub.at[i, 'status_group'] = 'functional needs repair'
    else:
        df_sub.at[i, 'status_group'] = 'non functional'
df_sub.sample(3)

          id             status_group
2706   72165               functional
13899  18736           non functional
3180   60115  functional needs repair
8876   49461               functional
7008   70725               functional
7571   14533               functional
6345    1681  functional needs repair
3048   39290           non functional
4901   31752               functional
11008  27341           non functional
3343   55223               functional
6500   48246           non functional
1389   34910               functional
3419   70998           non functional
5647   20756               functional
8706   46918               functional
1275    7861               functional
4880    9841  functional needs repair
10668   6256               functional
3567   33577               functional
1164   38299  functional needs repair
5705   38351               functional
14118  51254               functional
10481  18691               functional
11507  29322           non functional
460     1493               functional
4123   26511  functional needs repair
13034  44608               functional
9649   23923               functional
5759   56164               functional

In [122]:
df_sub.status_group.value_counts()

functional                 8046
non functional             4656
functional needs repair    2148
Name: status_group, dtype: int64

In [124]:
df_sub.to_csv('./Submissions/decisionTree.csv',index=False)

## Ranking

<table>
  <tr>
    <th>Best</th>
    <th>Current Rank</th>
    <th>Competitors</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>0.6449</td>
    <td>1309</td>
    <td>5059</td>
    <td>May 7, 2018, 11:50 p.m.</td>
  </tr>
</table>

## Random forest

In [125]:
from sklearn.ensemble import RandomForestClassifier

In [162]:
clf = RandomForestClassifier(max_depth = 4,random_state=0)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=4, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [163]:
print(clf.feature_importances_)

[2.82588807e-02 9.46888063e-03 2.49852233e-02 6.25947866e-03
 2.80899297e-03 4.16926964e-03 1.31907046e-03 6.90504419e-05
 4.34427987e-03 4.54900816e-03 2.97231582e-04 4.75595341e-04
 2.09250059e-05 2.24239350e-02 3.79602906e-02 1.11797518e-02
 3.10821251e-02 0.00000000e+00 3.21550749e-03 0.00000000e+00
 4.60894695e-02 0.00000000e+00 0.00000000e+00 2.02050892e-02
 1.29121180e-02 0.00000000e+00 3.84346156e-05 3.46004652e-01
 9.54980585e-02 3.57458295e-03 4.01819322e-03 2.30088396e-03
 0.00000000e+00 1.29077168e-03 0.00000000e+00 0.00000000e+00
 5.39844826e-03 0.00000000e+00 1.19806715e-02 4.71112806e-02
 3.97161169e-03 1.27274597e-03 0.00000000e+00 0.00000000e+00
 1.69246436e-02 0.00000000e+00 6.34463035e-03 0.00000000e+00
 1.63619043e-01 1.57549849e-03 3.89237991e-03 1.63776512e-05
 0.00000000e+00 0.00000000e+00 6.75181847e-05 0.00000000e+00
 8.46615234e-04 2.92469351e-04 1.88845995e-03 0.00000000e+00
 2.15074100e-03 7.82711442e-03 0.00000000e+00]

In [164]:
df_test_labels2 = clf.predict(df_test_values)

In [165]:
df_sub['status_group'] = df_test_labels2

In [166]:
df_sub['status_group'] = df_sub['status_group'].astype(str)

for i in range(len(df_sub.status_group)):
    if df_sub.status_group[i] == '3':
        df_sub.at[i, 'status_group'] = 'functional'
    elif df_sub.status_group[i] == '2':
        df_sub.at[i, 'status_group'] = 'functional needs repair'
    else:
        df_sub.at[i, 'status_group'] = 'non functional'
df_sub.sample(3)

          id status_group
4513   49553   functional
10202  71029   functional
5039   55547   functional

In [167]:
df_sub.status_group.value_counts()

functional        11886
non functional     2964
Name: status_group, dtype: int64

In [168]:
df_sub.to_csv('./Submissions/decisionTree2.csv',index=False)

## Ranking

<table>
  <tr>
    <th>Best</th>
    <th>Current Rank</th>
    <th>Competitors</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>0.6988</td>
    <td>1276</td>
    <td>5059</td>
    <td>May 8, 2018, 12:13 a.m.</td>
  </tr>
</table>

# Appendix

## A

In [ ]:
columns = list(feature_sel.columns)
feature_sel[columns[5:]] = feature_sel[columns[5:]].astype(int)
feature_sel[columns[0]] = feature_sel[columns[0]].astype(int)

In [ ]:
feature_sel = feature_sel.sample(frac=1).reset_index(drop=True)
y = feature_sel.status_group
X = feature_sel.drop('status_group', axis=1)

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.84)

In [ ]:
X_train.head(1)

## Adjust competition data

In [ ]:
df_test_values = df_test_values[['gps_height', 'longitude', 'latitude', 'basin',
                  'extraction_type_class','payment','quantity','water_quality', 'source_class',
                  'waterpoint_type_group','population','public_meeting','scheme_management']]

In [ ]:
# rearange columns
cols = df_test_values.columns.tolist()
cols = ['gps_height',
             'longitude',
             'latitude',
             'population',
             'basin',
             'extraction_type_class',
             'payment',
             'quantity',
             'water_quality',
             'source_class',
             'waterpoint_type_group',
             'public_meeting',
             'scheme_management']
df_test_values = df_test_values[cols]

In [ ]:
a = [0] * len(df_test_values['gps_height'])

In [ ]:
df_test_values = pd.get_dummies(df_test_values,columns=list(df_test_values.columns[4:]))
df_test_values.sample(5)

In [ ]:
columns = list(feature_sel.columns)
feature_sel[columns[5:]] = feature_sel[columns[5:]].astype(int)
feature_sel[columns[0]] = feature_sel[columns[0]].astype(int)

In [ ]:
df_test_values['scheme_management_None'] = a
df_test_values.head(10)

In [ ]:
list(set(X_train.columns)-set(df_test_values.columns))

##  B

In [ ]:
from __future__ import print_function

import numpy as np
import pandas as pd

from IPython.display import Image

from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.cross_validation import train_test_split
from sklearn import svm

from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
pd.Series(y_train).value_counts()

## Principle Component Analysis

In [ ]:
pca = PCA(n_components=2)
pca.fit(X_train)

In [ ]:
pcafeatures_train = pca.transform(X_train)

In [ ]:
from itertools import cycle

In [ ]:
# def plot_PCA_2D(data, target, target_names):
#     colors = cycle(['r','g','b'])
#     target_ids = range(len(target_names))
#     plt.figure()
#     for i, c, label in zip(target_ids, colors, target_names):
#         plt.scatter(data[target == i, 0], data[target == i, 1],
#                    c=c, label=label)
#     plt.legend()

In [ ]:
# plot_PCA_2D(pcafeatures_train, target=y_train, target_names=digits.target_names)

## Fitting Linear and RBF SVM Models

In [ ]:
# fit linear model
model_svm = svm.SVC(kernel='rbf',probability=False,cache_size=2000)
model_svm.fit(X_train, y_train)

In [ ]:
# predict out of sample
y_pred = model_svm.predict(X_test)

In [ ]:
# check accuracy
accuracy_score(y_test,y_pred)

In [ ]:
# confusion matrix
confusion_matrix(y_test,y_pred)

In [ ]:
# fit rbf model
# model_svm2 = svm.SVC(kernel='rbf', gamma = 0.001)
# model_svm2.fit(X_train, y_train)

In [ ]:
# predict out of sample
y_pred2 = model_svm2.predict(X_test)

In [ ]:
# check accuracy
accuracy_score(y_test,y_pred2)

In [ ]:
# confusion matrix
confusion_matrix(y_test,y_pred2)

## C

Extra code from class to utilize

In [ ]:
df.age=df.age.fillna(df.age.mean())

In [ ]:
y,X=dmatrices('survived~ pclass +age+sibsp+parch+fare',data=df,return_type='dataframe')

In [ ]:
# Generate a confusion matrix plot: 

def plot_confusion_matrix(cm,title='Confusion matrix', cmap=plt.cm.Reds):
    plt.imshow(cm, interpolation='nearest',cmap=cmap)
    plt.title(title)
    plt.colorbar()
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

#Could be a typical function for classifying:

def train_score(classifier,x,y):
    xtrain, xtest, ytrain, ytest = cross_validation.train_test_split(x, y, test_size=0.2, random_state=1234)
    ytrain=np.ravel(ytrain)
    clf = classifier.fit(xtrain, ytrain)
    # accuracy for test & train:
    train_acc=clf.score(xtrain, ytrain)
    test_acc=clf.score(xtest,ytest)
    print("Training Data Accuracy: %0.2f" %(train_acc))
    print("Test Data Accuracy:     %0.2f" %(test_acc))
    
    y_true = ytest
    y_pred = clf.predict(xtest)


    conf = confusion_matrix(y_true, y_pred)
    print(conf)

    print ('\n')
    print ("Precision:              %0.2f" %(conf[0, 0] / (conf[0, 0] + conf[1, 0])))
    print ("Recall:                 %0.2f"% (conf[0, 0] / (conf[0, 0] + conf[0, 1])))
    
    cm=confusion_matrix(y_true, y_pred, labels=None)
    
    plt.figure()
    plot_confusion_matrix(cm)

In [ ]:
log_clf=LogisticRegression()
train_score(log_clf,X,y)

In [ ]:
# What about ROC ? 

from sklearn.metrics import roc_curve, auc

xtrain, xtest, ytrain, ytest = cross_validation.train_test_split(X, y, test_size=0.2, random_state=1234)
log = LogisticRegression()
log.fit(xtrain,np.ravel(ytrain))
y_score=log.predict_proba(xtest)[:,1]

fpr, tpr,_ = roc_curve(ytest, y_score)
roc_auc = auc(fpr, tpr)

plt.figure()
# Plotting our Baseline..
plt.plot([0,1],[0,1])
plt.plot(fpr,tpr)
plt.xlabel('FPR')
plt.ylabel('TPR')

In [ ]:
tpr

####  Cost Benefit Example: 

We can also optimize our models based on specific costs associated with our classification errors; here we will use specific dollar amounts as weights.

Let's say we were developing a classification model for Aircraft Delay prediction.  For this example let's assume that a true positive would 
lead to a cost savings of 2160 dollars, a false negative would cost us 2900 dollars a false positive would cost 750 dollars.  

cb = np.array([[2160, -750.0], [-2900, 0]])  

Expected_Value = #TPs(2160) - #FNs(2900) -#FPs(750)