In [ ]:
NumPy

new_array = np.zeros_like(old_array, dtype=complex)
a.ravel()
a.shape

pd.set_option(""display.height"", 10)
pd.set_option(""display.max_rows"", 20)
pd.set_option(""display.max_columns"", 500)
pd.set_option(""display.width"", 1000)

bp_data = pd.read_csv("path/to/file.csv", header=1, delim_whitespace=True)
bp_data.to_csv("path/to/new_file.csv", sep=" ", header=False, index=False)

# Silly example data
bp_x = np.linspace(0, 2*np.pi, num=40, endpoint=True)
bp_y = np.sin(bp_x)

# Make the plot
plt.plot(bp_x, bp_y, linewidth=3, linestyle="--",
         color="blue", label=r"Legend label $\sin(x)$")
plt.xlabel(r"Description of $x$ coordinate (units)")
plt.ylabel(r"Description of $y$ coordinate (units)")
plt.title(r"Title here (remove for papers)")
plt.xlim(0, 2*np.pi)
plt.ylim(-1.1, 1.1)
plt.legend(loc="lower left")
plt.show()

In [53]:
a = [['a', '1.2', '4.2'], ['b', '70', '0.03'], ['x', '5', '0']]

In [54]:
import pandas as pd
df = pd.DataFrame(a, columns=['one', 'two', 'three'])
df

  one  two three
0   a  1.2   4.2
1   b   70  0.03
2   x    5     0

In [63]:
df.dtypes

one       object
two      float64
three    float64
dtype: object

['two', 'three']

In [58]:
df.columns[1:3] = df.columns[1:3].astype(int)

ValueError: invalid literal for int() with base 10: 'two'

In [62]:
df[columns[1:3]] = df[columns[1:3]].astype(float)

In [61]:
columns = list(df.columns)
columns[1:3]

['two', 'three']

In [34]:
df.iloc[:,1:3]

   two three
0  1.2   4.2
1   70  0.03
2    5     0