# Project 3 - Water Pump Clasificaiton

## Executive Summary

Text

# Notes

**Things to add to my project - ideas from class**

* SQL
* dummy set
    * DONE
* linear/rbf SVM
    * DONE on 15% of training data
* tableau
* decision tree
    * random forest
    * bagging
    


**To Do**
* MVP presentation

# Setup

In [1]:
from __future__ import print_function

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from __future__ import division
pd.set_option('display.width',5000)

In [3]:
import patsy

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

# Data Import - Training Data

This data is part of the Data Driven Competition

https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/23/

In [4]:
# 'Values' provided for each pump location - features

df_values = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/Training set values.csv')
df_values.sample(5)

          id  amount_tsh date_recorded          funder  gps_height       installer  longitude   latitude        wpt_name  num_private          ...          payment_type water_quality quality_group      quantity  quantity_group        source   source_type  source_class              waterpoint_type waterpoint_type_group
26613  67551         0.0    2011-08-04           Hifab           0          Hesawa  33.328170  -2.949675          Ilamba            0          ...             never pay          soft          good        enough          enough   machine dbh      borehole   groundwater                        other                 other
49220  12116         0.0    2011-03-01          Kuwait          42          KUWAIT  39.173800  -7.211194  Kwa Nyamsingwa            0          ...             never pay          soft          good      seasonal        seasonal  shallow well  shallow well   groundwater                        other                 other
11960  52163         0.0    2013-07-03           Jaica        1118      Government  34.849693 -10.596195  Kwa Mzee Enock            0          ...             never pay          soft          good           dry             dry        spring        spring   groundwater           communal standpipe    communal standpipe
45475  35911       500.0    2013-02-23           Tasaf         554  UMOJA DRILLING  36.660789 -11.474336     Kwa Mantana            0          ...               monthly          soft          good  insufficient    insufficient  shallow well  shallow well   groundwater                    hand pump             hand pump
49322   9459      6000.0    2013-11-03  Oikos E.Afrika        1458       Community  36.840822  -3.154700           Paulo            0          ...              annually      fluoride      fluoride  insufficient    insufficient        spring        spring   groundwater  communal standpipe multiple    communal standpipe

[5 rows x 40 columns]

In [5]:
# 'Labels' provided for each pump location - clasificaiton - what I am predicting

df_labels = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/Training set labels.csv')
df_labels.sample(5)

          id             status_group
9356   69041               functional
3941   39891           non functional
46402  56421           non functional
15262  41815  functional needs repair
2329   36407               functional

# Exploratory Data Analysis

## Colum descriptions

My goal is to predict the operating condition of a waterpoint for each record in the dataset. I was provided the following set of information about the waterpoints:

* amount_tsh - Total static head (amount water available to waterpoint)
    * 98 unique
* date_recorded - The date the row was entered
    * 365 unique
    * year - month - day
* funder - Who funded the well
    * 1897 unique
    * look at top ones?
* installer - Organization that installed the well
    * 2145 unique
    * DWE is main one - 10x closest other, 17k
* wpt_name - Name of the waterpoint if there is one
    * 37400 unique
    * look at top ones?
* num_private - (NO PROVIDED DESC)
    * 65 unique
    * USELESS FEATURE
* population - Population around the well
    * 1049 unique
    * a lot are zero
* public_meeting - True/False
    * 2 unique
* recorded_by - Group entering this row of data
    * 1 unique
    * all the same - USELESS FEATURE
* scheme_management - Who operates the waterpoint
    * 12 unique
* scheme_name - Who operates the waterpoint
    * 2696 unique
    * USELESS FEATURE
* permit - If the waterpoint is permitted
    * 2 unique
* construction_year - Year the waterpoint was constructed
    * 55 unique
    * third are 0 - USELESS FEATURE


* Geography
    * gps_height - Altitude of the well
        * numerical
    * longitude - GPS coordinate
        * numerical
    * latitude - GPS coordinate
        * numerical
    * basin - Geographic water basin
        * 9 unique
    * subvillage - Geographic location
        * 19287 unique
    * region - Geographic location
        * 21 unique
    * region_code - Geographic location (coded)
        * 27 unique
    * district_code - Geographic location (coded)
        * 20 unique
    * lga - Geographic location
        * 125 unique
    * ward - Geographic location
        * 2092 unique


* Extraction
    * extraction_type - The kind of extraction the waterpoint uses
        * 18 unique
        * Most descriptive of extraction
    * extraction_type_group - The kind of extraction the waterpoint uses
        * 13 unique
        * Parent of extraction_type
    * extraction_type_class - The kind of extraction the waterpoint uses
        * 7 unique
        * Parent of extraction_type_group


* Overhead
    * management - How the waterpoint is managed
        * 12 unique
    * management_group - How the waterpoint is managed
        * 5 unique
    * payment - What the water costs
        * 7 unique
        * same as payment type
    * payment_type - What the water costs
        * 7 unique
        * same as payment


* Water
    * water_quality - The quality of the water 
        * 3 unique
        * Subset of quality_group
    * quality_group - The quality of the water
        * 6 unique
        * Parent group of water_quality
    * quantity - The quantity of water
        * 5 unique
        * Same as quantity_group
    * quantity_group - The quantity of water
        * 5 unique
        * Same as quantity
    * source - The source of the water
        * 10 unique
    * source_type - The source of the water
        * 7 unique
        * Subset of source
    * source_class - The source of the water
        * 3 unique
        * Subset of source_type
    * waterpoint_type - The kind of waterpoint
        * 6 unique
        * Parent of waterpoint_type_group
    * waterpoint_type_group - The kind of waterpoint
        * 7 unique
        * Subset of waterpoint_type

## Various EDA

##### Status

In [ ]:
# 3 Unique status present
df_labels.status_group.value_counts()

##### Finding features

##### Review histograms of extraction data

* extraction_type - The kind of extraction the waterpoint uses
* extraction_type_group - The kind of extraction the waterpoint uses
* extraction_type_class - The kind of extraction the waterpoint uses

In [ ]:
df_values.extraction_type.value_counts().plot('barh')
len(df_values.extraction_type.value_counts())

In [ ]:
df_values.extraction_type_group.value_counts().plot('barh')
len(df_values.extraction_type_group.value_counts())

In [ ]:
df_values.extraction_type_class.value_counts().plot('barh')
len(df_values.extraction_type_class.value_counts())

##### Other

In [ ]:
# df_values.population.value_counts()

In [ ]:
len(df_values.ward.value_counts())

In [ ]:
# len(df_values.management.value_counts())

In [ ]:
# print(df_values.region.value_counts())
# print('Length: ',len(df_values.region.value_counts()))

In [ ]:
#print(df_values.region_code.value_counts())
#print('Length: ',len(df_values.region_code.value_counts()))

In [ ]:
# df_values.water_quality.value_counts()

In [ ]:
#df_values.installer.value_counts()

# Test Train Split

In [6]:
# randomize data
# df_lables, df_values - combine and shuffle this data

df = pd.merge(df_labels,df_values,how = 'left')
df = df.sample(frac=1).reset_index(drop=True)

In [7]:
# Split back to X and y and then TTS
y = df[["id","status_group"]]
X = df.drop('status_group', axis=1)

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Data Import - Challenge Data

In [8]:
# 'Values' provided for each competition pump location - features

df_test_values = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/Test set values.csv')
df_test_values.sample(5)

          id  amount_tsh date_recorded  funder  gps_height           installer  longitude  latitude             wpt_name  num_private          ...          payment_type water_quality quality_group      quantity  quantity_group    source source_type  source_class     waterpoint_type waterpoint_type_group
12248  14118       500.0    2011-04-03   Shipo        1516               Shipo  35.061824 -8.862388    Kwa Hosea Kihombo            0          ...            on failure          soft          good        enough          enough  hand dtw    borehole   groundwater           hand pump             hand pump
14731  44737         0.0    2011-12-07  Danida           0  Central government  33.920749 -9.639047  Kwa Tuta Mwakatimbe            0          ...             never pay          soft          good           dry             dry    spring      spring   groundwater  communal standpipe    communal standpipe
6565   50387       250.0    2013-01-25    Kadp        1268                KADP  30.050038 -4.690313           Kwa Robson            0          ...               monthly          soft          good        enough          enough     river  river/lake       surface  communal standpipe    communal standpipe
769    16100         0.0    2011-03-06     Dhv         326                 DWE  36.825067 -8.911435          Mnazi Mmoja            0          ...             never pay          soft          good  insufficient    insufficient     river  river/lake       surface  communal standpipe    communal standpipe
12392  53079         0.0    2011-04-01     NaN           0                 NaN  33.387249 -9.526928              Shuleni            0          ...               unknown          soft          good      seasonal        seasonal    spring      spring   groundwater  communal standpipe    communal standpipe

[5 rows x 40 columns]

In [9]:
# 'Labels' I will provide for each pump location - clasificaiton

df_sub = pd.read_csv('/Users/amycurneen/ds/metis/metisgh/Metis-Curneen/3 - Water Pumps/Data Downloads/SubmissionFormat.csv')
df_sub.sample(5)

          id     status_group
1341   19492  predicted label
14283  60798  predicted label
8852   58659  predicted label
7750   71273  predicted label
13310   5868  predicted label

In [10]:
df_sub = df_sub.drop('status_group', axis = 1)
df_sub.sample(5)

         id
6440  23203
119   44492
9506   7004
2306  57912
1780  54078

# Dummy Classification

Functional is the highest output

In [11]:
# set everything to functional - most common - and submit for a baseline

df_sub['status_group'] = pd.Series('functional', index=df_sub.index)
df_sub.to_csv('./Submissions/dummy_classification.csv',index=False)

<table>
  <tr>
    <th>Best</th>
    <th>Current Rank</th>
    <th>Competitors</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>0.5461</td>
    <td>1342</td>
    <td>5030</td>
    <td>May 3, 2018, 8:37 p.m.</td>
  </tr>
</table>

# Decision Tree

In [12]:
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.cm as cm
import numpy as np
import random

from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [14]:
df.sample(3)

          id    status_group  amount_tsh date_recorded                          funder  gps_height installer  longitude  latitude     wpt_name          ...           payment_type water_quality quality_group      quantity  quantity_group        source   source_type source_class     waterpoint_type waterpoint_type_group
33398   7490  non functional         0.0    2012-10-12  Rural Water Supply And Sanitat           0       DWE  31.842241 -3.345323     Nyikonga          ...                unknown          soft          good        enough          enough  shallow well  shallow well  groundwater               other                 other
38989  44039      functional       100.0    2011-03-04          Government Of Tanzania         600       DWE  38.196422 -4.455360   Kwe Mkwazu          ...                monthly          soft          good        enough          enough        spring        spring  groundwater  communal standpipe    communal standpipe
58950  39228      functional       200.0    2011-03-25          Government Of Tanzania         260       DWE  36.905730 -7.833002  Kwakirwanda          ...                monthly          soft          good  insufficient    insufficient         river    river/lake      surface  communal standpipe    communal standpipe

[3 rows x 41 columns]

In [15]:
# try with a few less features first 

feature_no_sel = df[['amount_tsh', 'date_recorded', 'funder', 'installer', 
                   'wpt_name', 'num_private', 'subvillage', 'region', 
                   'region_code', 'district_code', 'lga', 'ward', 'public_meeting', 'recorded_by', 
                   'scheme_management', 'scheme_name', 'permit', 'construction_year', 'extraction_type', 
                   'extraction_type_group', 'management', 'management_group', 'payment', 
                   'payment_type', 'water_quality', 'quality_group', 'quantity_group', 'source', 
                   'source_type', 'waterpoint_type','region_code', 
                  'district_code']]

feature_sel = df[['id', 'status_group', 'gps_height', 'longitude', 'latitude', 'basin',
                  'extraction_type_class','payment','quantity','water_quality', 'source_class',
                  'waterpoint_type_group','population','public_meeting','scheme_management']]

In [16]:
feature_sel.sample(3)

          id    status_group  gps_height  longitude  latitude          basin extraction_type_class         payment  quantity water_quality source_class waterpoint_type_group  population public_meeting scheme_management
39498  36320  non functional        1549  34.755213 -5.001197       Internal           submersible         unknown   unknown       unknown  groundwater    communal standpipe           1           True               VWC
32275  30992      functional        1242  34.215950 -1.314896  Lake Victoria              handpump  pay per bucket  seasonal         salty  groundwater             hand pump         300          False               NaN
55418  53864  non functional        1111  34.963928 -5.832368       Internal             motorpump         unknown    enough          soft  groundwater    communal standpipe         250           True               VWC

In [17]:
# Change what I predict to 1,2,3

for i in range(len(feature_sel.status_group)):
    if feature_sel.status_group[i] == 'functional':
        feature_sel.at[i, 'status_group'] = 3
    elif feature_sel.status_group[i] == 'functional needs repair':
        feature_sel.at[i, 'status_group'] = 2
    else:
        feature_sel.at[i, 'status_group'] = 1

In [18]:
feature_sel=feature_sel.drop('id', axis=1)

In [19]:
# rearange columns
cols = feature_sel.columns.tolist()
cols = ['status_group',
             'gps_height',
             'longitude',
             'latitude',
             'population',
             'basin',
             'extraction_type_class',
             'payment',
             'quantity',
             'water_quality',
             'source_class',
             'waterpoint_type_group',
             'public_meeting',
             'scheme_management']
feature_sel = feature_sel[cols]
feature_sel.sample(3)

      status_group  gps_height  longitude   latitude  population                    basin extraction_type_class       payment quantity water_quality source_class waterpoint_type_group public_meeting scheme_management
2249             1          -9  39.435871  -7.098583          80              Wami / Ruvu             motorpump     never pay      dry         salty  groundwater    communal standpipe           True               VWC
36209            1           0  33.425374  -2.588938           0            Lake Victoria              handpump     never pay   enough          soft  groundwater             hand pump           True               VWC
17597            3         544  36.984454 -11.464673           1  Ruvuma / Southern Coast              handpump  pay annually   enough          soft  groundwater             hand pump           True               VWC

In [20]:
#create dummy features for applicabe

feature_sel = pd.get_dummies(feature_sel,columns=list(feature_sel.columns[5:]))
feature_sel.sample(3)

      status_group  gps_height  longitude      latitude  population  basin_Internal  basin_Lake Nyasa  basin_Lake Rukwa  basin_Lake Tanganyika  basin_Lake Victoria                ...                  scheme_management_Other  scheme_management_Parastatal  scheme_management_Private operator  scheme_management_SWC  scheme_management_Trust  scheme_management_VWC  scheme_management_WUA  scheme_management_WUG  scheme_management_Water Board  scheme_management_Water authority
17913            2           0   0.000000 -2.000000e-08           0               0                 0                 0                      0                    1                ...                                        0                             0                                   0                      0                        0                      0                      0                      1                              0                                  0
668              3         382  37.776650 -7.092046e+00         200               0                 0                 0                      0                    0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0
47038            3           0  32.746381 -8.820167e+00           0               0                 0                 1                      0                    0                ...                                        0                             0                                   0                      0                        0                      1                      0                      0                              0                                  0

[3 rows x 64 columns]

In [ ]:
randomforest = RandomForestClassifier()
quick_test_afew_times(randomforest, X, y1)

# SVM - dont edit here

In [ ]:
columns = list(feature_sel.columns)
feature_sel[columns[5:]] = feature_sel[columns[5:]].astype(int)
feature_sel[columns[0]] = feature_sel[columns[0]].astype(int)

In [ ]:
feature_sel = feature_sel.sample(frac=1).reset_index(drop=True)
y = feature_sel.status_group
X = feature_sel.drop('status_group', axis=1)

from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.84)

In [ ]:
X_train.head(1)

## Adjust competition data

In [ ]:
df_test_values = df_test_values[['gps_height', 'longitude', 'latitude', 'basin',
                  'extraction_type_class','payment','quantity','water_quality', 'source_class',
                  'waterpoint_type_group','population','public_meeting','scheme_management']]

In [ ]:
# rearange columns
cols = df_test_values.columns.tolist()
cols = ['gps_height',
             'longitude',
             'latitude',
             'population',
             'basin',
             'extraction_type_class',
             'payment',
             'quantity',
             'water_quality',
             'source_class',
             'waterpoint_type_group',
             'public_meeting',
             'scheme_management']
df_test_values = df_test_values[cols]

In [ ]:
a = [0] * len(df_test_values['gps_height'])

In [ ]:
df_test_values = pd.get_dummies(df_test_values,columns=list(df_test_values.columns[4:]))
df_test_values.sample(5)
df_test_values.head(10)

In [ ]:
df_test_values['scheme_management_None'] = a
df_test_values.head(10)

In [ ]:
list(set(X_train.columns)-set(df_test_values.columns))

# From class on SVM

In [ ]:
from __future__ import print_function

import numpy as np
import pandas as pd

from IPython.display import Image

from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.cross_validation import train_test_split
from sklearn import svm

from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
pd.Series(y_train).value_counts()

## Principle Component Analysis

In [ ]:
pca = PCA(n_components=2)
pca.fit(X_train)

In [ ]:
pcafeatures_train = pca.transform(X_train)

In [ ]:
from itertools import cycle

In [ ]:
# def plot_PCA_2D(data, target, target_names):
#     colors = cycle(['r','g','b'])
#     target_ids = range(len(target_names))
#     plt.figure()
#     for i, c, label in zip(target_ids, colors, target_names):
#         plt.scatter(data[target == i, 0], data[target == i, 1],
#                    c=c, label=label)
#     plt.legend()

In [ ]:
# plot_PCA_2D(pcafeatures_train, target=y_train, target_names=digits.target_names)

## Fitting Linear and RBF SVM Models

In [ ]:
# fit linear model
model_svm = svm.SVC(kernel='rbf',probability=False,cache_size=2000)
model_svm.fit(X_train, y_train)

In [ ]:
# predict out of sample
y_pred = model_svm.predict(X_test)

In [ ]:
# check accuracy
accuracy_score(y_test,y_pred)

In [ ]:
# confusion matrix
confusion_matrix(y_test,y_pred)

In [ ]:
# fit rbf model
# model_svm2 = svm.SVC(kernel='rbf', gamma = 0.001)
# model_svm2.fit(X_train, y_train)

In [ ]:
# predict out of sample
y_pred2 = model_svm2.predict(X_test)

In [ ]:
# check accuracy
accuracy_score(y_test,y_pred2)

In [ ]:
# confusion matrix
confusion_matrix(y_test,y_pred2)

In [ ]:
df_test_labels = model_svm.predict(df_test_values)

In [ ]:
df_test_labels.shape

In [ ]:
df_sub['status_group'] = df_test_labels

In [ ]:
df_sub['status_group'] = df_sub['status_group'].astype(str)

for i in range(len(df_sub.status_group)):
    if df_sub.status_group[i] == '3':
        df_sub.at[i, 'status_group'] = 'functional'
    elif df_sub.status_group[i] == '2':
        df_sub.at[i, 'status_group'] = 'functional needs repair'
    else:
        df_sub.at[i, 'status_group'] = 'non functional'
df_sub.sample(30)

In [ ]:
df_sub.status_group.value_counts()

In [ ]:
df_sub.to_csv('./Submissions/partSVM_classification.csv',index=False)

<table>
  <tr>
    <th>Best</th>
    <th>Current Rank</th>
    <th>Competitors</th>
    <th>Time</th>
  </tr>
  <tr>
    <td>0.6253</td>
    <td>1314</td>
    <td>5030</td>
    <td>May 4, 2018, 4:56 a.m.</td>
  </tr>
</table>

# Appendix

Extra code from class to utilize

In [ ]:
df.age=df.age.fillna(df.age.mean())

In [ ]:
y,X=dmatrices('survived~ pclass +age+sibsp+parch+fare',data=df,return_type='dataframe')

In [ ]:
# Generate a confusion matrix plot: 

def plot_confusion_matrix(cm,title='Confusion matrix', cmap=plt.cm.Reds):
    plt.imshow(cm, interpolation='nearest',cmap=cmap)
    plt.title(title)
    plt.colorbar()
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

#Could be a typical function for classifying:

def train_score(classifier,x,y):
    xtrain, xtest, ytrain, ytest = cross_validation.train_test_split(x, y, test_size=0.2, random_state=1234)
    ytrain=np.ravel(ytrain)
    clf = classifier.fit(xtrain, ytrain)
    # accuracy for test & train:
    train_acc=clf.score(xtrain, ytrain)
    test_acc=clf.score(xtest,ytest)
    print("Training Data Accuracy: %0.2f" %(train_acc))
    print("Test Data Accuracy:     %0.2f" %(test_acc))
    
    y_true = ytest
    y_pred = clf.predict(xtest)


    conf = confusion_matrix(y_true, y_pred)
    print(conf)

    print ('\n')
    print ("Precision:              %0.2f" %(conf[0, 0] / (conf[0, 0] + conf[1, 0])))
    print ("Recall:                 %0.2f"% (conf[0, 0] / (conf[0, 0] + conf[0, 1])))
    
    cm=confusion_matrix(y_true, y_pred, labels=None)
    
    plt.figure()
    plot_confusion_matrix(cm)

In [ ]:
log_clf=LogisticRegression()
train_score(log_clf,X,y)

In [ ]:
# What about ROC ? 

from sklearn.metrics import roc_curve, auc

xtrain, xtest, ytrain, ytest = cross_validation.train_test_split(X, y, test_size=0.2, random_state=1234)
log = LogisticRegression()
log.fit(xtrain,np.ravel(ytrain))
y_score=log.predict_proba(xtest)[:,1]

fpr, tpr,_ = roc_curve(ytest, y_score)
roc_auc = auc(fpr, tpr)

plt.figure()
# Plotting our Baseline..
plt.plot([0,1],[0,1])
plt.plot(fpr,tpr)
plt.xlabel('FPR')
plt.ylabel('TPR')

In [ ]:
tpr

####  Cost Benefit Example: 

We can also optimize our models based on specific costs associated with our classification errors; here we will use specific dollar amounts as weights.

Let's say we were developing a classification model for Aircraft Delay prediction.  For this example let's assume that a true positive would 
lead to a cost savings of 2160 dollars, a false negative would cost us 2900 dollars a false positive would cost 750 dollars.  

cb = np.array([[2160, -750.0], [-2900, 0]])  

Expected_Value = #TPs(2160) - #FNs(2900) -#FPs(750)

# New heading